.btn.btn-outline, .btn.btn-outline:focus {
    background-color: hsl(200, 50%, 90%);
}

.btn + .btn {
    margin-left: .25rem;
}

main, .sidebar {
    container-type: inline-size;
}

@containere (max-width: 800px) {
    .card {
        flex-direction: column;
    }
}

.card-header {
    width: 100%;
}